.App {
  text-align: center;
  background-color: #282c34;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: Arial, sans-serif;
  font-size: 30px;
  font-weight: bold;
}

/*.wrapper {*/
/*  height: 200px;*/
/*  width: 250px;*/
/*  border: 2px solid #61dafb;*/
/*  border-radius: 5px;*/
/*}*/

/*.btn-wrapper {*/
/*  width: 220px;*/
/*  height: 35%;*/
/*  margin: 15px;*/
/*  border: 2px solid #61dafb;*/
/*  border-radius: 5px;*/
/*  justify-content: space-around;*/
/*  align-items: center;*/
/*  display: flex;*/
/*}*/



